}

{box-sizing: border-box;}

body {
  margin: 0;
  font-family: timesnewroman;
  background-color: #F4F0E7;
}
/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #765129;
  font-family: timesnewroman;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 20px;
  color: #F4F0E7;
  text-align: center;
  padding: 20px 30px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #FFDEAA;
  color: #573500;
}
.navbar a.active {
  background-color: #765129;
  color: #F4F0E7;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: F4F0E7;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: E8B16C;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color:#E8B16C;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: #F4F0E7;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #E8B16C;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;

}
.navbar .search-container {
  float: right;
}

.navbar input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
}

.navbar .search-container button {
  float: right;
  padding: 5px 5px;
  margin-top: 8px;
  margin-right: 16px;
  background:#F4F0E7;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.navbar .search-container button:hover {
  background:#F4F0E7;
}

@media screen and (max-width: 600px) {
  .navbar .search-container {
    float:#E8B16C;
  }
  .navbar a, .navbar input[type=text], .navbar .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .navbar input[type=text] {
    border: 1px solid #ccc;  
  }
}



* {box-sizing: border-box}
body {font-family: timesnewroman, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}
}
.fa {
  padding: 20px;
  width: 30px;
  text-decoration: none;
  border-radius: 50%;
  size: 50%
}

th {
  text-align: center;
  font-family: helvetica; 
  color: maroon;
}
h1 {
  background-color:#E8B16C;
  color: #37291D;
  font-family: helvetica;
  text-align: center;
}